* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

  html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin:0;
    padding:0;
  }

  header {
    padding: 15px;
    background-color:#666;
    font-size: 20px;
    color: white;
    text-align: center;
  }
  
  h3 {
    text-align: center;
    font-weight: 300;
    margin-top: 0;
    }

  .container {
    background: beige;
    padding: 15px;
    display: flex;
    overflow: hidden;
    width: 100%;
    min-width: 100%;
  }

  .container > #side-right {
    width: 100%;
  }

  .container > #side-left {
    width: 60%;
    height: 100%;
  }

  #side-left{
    /* background-color: aqua; */
    float: left;
    padding: 15px;
    height: 100%;
  }
  
  #side-right {
    /* background-color: burlywood; */
    float: right;
    height: 100%;
  }
  
  #host {
    height: 30%;
  }
  
  .section_title {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    background-color:#666;
    font-size: 20px;
    color: white;
    text-align: center;
  }
  
  .inputs{
    text-align: center;
    /* height: auto; */
  }

  table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;;
    background-color: white;
  }

  /* stackoverflow */
  table td, table th {
    border: 1px solid black;
  }

  table tr:first-child th {
    border-top: 0;
  }
  
  table tr:last-child td {
    border-bottom: 0;
  }

  table tr td:first-child,
  table tr th:first-child {
    border-left: 0;
  }
  
  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }
  
  .company_name{
    background-color: #b3b3b3;
  }

  .column3 {
    width: 33%;
    background-color: #cccccc;
  }

  select {
    width: 100%;
    /*to center text in select box (found from Stack Overflow*/
    text-align-last: center;
  }

  select:hover {
    background: rgb(242, 242, 242);
  }
  
  select:disabled {
    background-color: #e6e6e6;
  }
  
  #company-separator {
    margin: 40px;
  }

  .column2 {
    width: 50%;
    background-color: #cccccc;
  }

  #competitors {
    height: 70%;
  }
  
  #reset {
    float: right;
    margin-right: 30px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 8px;
  }

  #reset:hover{
    background-color: #bfbfbf;
  }

  .tab {
    /* overflow: auto; */
    background-color: #f1f1f1;
  }
  
  .tab button {
    float: left;
    outline: none;
    padding: 14px 16px;
    font-size: 17px;
    border: 1px solid gray;
  }

  .tab button:hover {
    background-color: #cccccc;
  }

  .tab button.active {
    background-color: #bfbfbf;
  }

  #default_tab {
    display: block;
    height: 715px;
    text-align: center;
    padding: 357px 0;
  }

  p {
    color: red;
  }

  /*s'agit du id d'un des onglets; ne pas se melanger avec le tag table*/
  #table {
    height: auto;
  }

  .tab_content {
    margin-top: 60px;
    /* height: 715px; */
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /* @media (max-width: 600px) {
    body {
        overflow-x: auto;
    } */
}
  
 



  